{% extends 'base2.html' %}
{% block title %} پرداخت موفق {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-white bg-success">
            <h3 class="card-title">موفقیت!</h3>
        </div>
        <div class="card-body">
            <p>{{ message }}</p>
            <!-- دکمه بازگشت به اپلیکیشن -->
            <a href="ecupars://open/path?param=value" class="btn btn-primary">
                بازگشت به اپلیکیشن
            </a>
        </div>
    </div>
</div>
{% endblock %}