{% extends 'base.html' %}
{% block title %} داشبورد مدیر{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>مدیریت اشتراک ها </h1>
        <ul class="list-group">
            {% for subscription in subscriptions %}
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span>{{ subscription.user.username }} - 
                        {% if subscription.active %}
                        عضویت VIP
                        {% else %}
                        عضویت عادی
                        {% endif %} </span>
                    <span>
                        <a href="{% url 'subscription_update' subscription.id %}" class="btn btn-warning btn-sm">ویرایش</a>
                        <a href="{% url 'subscription_delete' subscription.id %}" class="btn btn-danger btn-sm">حذف</a>
                    </span>


                    
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}