{% extends 'base.html' %}
{% block title %} داشبورد مدیر{% endblock %}
{% load custom_filters %}
{% load jformat %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">لیست کاربران</h1>
        <div class="row">
            {% for user in users %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        {{ user.username }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ user.email }}</h5>
                        {% with last_login=user_last_login|get_item:user.pk %}
                            {% if last_login %}
                                <p class="card-text">آخرین ورود: <strong>{{ last_login"  }}</strong></p>
                            {% else %}
                                <p class="card-text">ورودی ثبت نشده</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'user_update' user.pk %}" class="btn btn-warning btn-sm">ویرایش</a>
                        <a href="{% url 'user_delete' user.pk %}" class="btn btn-danger btn-sm">حذف</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
