{% extends 'base.html' %}
{% block title %} داشبورد مدیر{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ cat.name }}</h1>
        {% if map_categories %}
        <h2>دسته‌بندی‌های مربوطه :</h2>
        
        <ul class="list-group">
            {% for category in map_categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'mapcat_detail' category.id %}">{{ category.name }}</a>
                <div>
                    <a href="{% url 'map_category_update' category.id %}" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i> ویرایش
                    </a>
                    <a href="{% url 'map_category_delete' category.id %}" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i> حذف
                    </a>
                </div>
            </li>
            {% empty %}
                <li>زیر دسته ای وجود ندارد.</li>
            {% endfor %}
        </ul>
        {% endif %}
    </br>
        <a href="{% url 'map_cat_create' cat.id %}" class="btn btn-primary mb-3">
            <i class="fa fa-plus"></i> اضافه کردن نقشه در این دسته
        </a>
    
        
        <button class="btn btn-info mb-3" onclick="toggleUploadForm()">آپلود دسته‌ای نقشه‌ها</button>
        
        <form id="uploadForm" enctype="multipart/form-data" class="mb-4" style="display: none;">
            <div class="mb-3">
                <label for="imageInput" class="form-label">انتخاب فایل‌های نقشه (تصاویر)</label>
                <input type="file" id="imageInput" name="image_files" multiple class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="textInput" class="form-label">انتخاب فایل‌های متنی (TXT)</label>
                <input type="file" id="textInput" name="txt_files" multiple class="form-control" required>
            </div>
            <button type="button" class="btn btn-success" onclick="uploadMaps()">آپلود نقشه‌ها</button>
        </form>

        {% if maps %}
        <h2>نقشه ها:</h2>
        <ul class="list-group">
            {% for map in maps %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'map_detail' map.id %}" style="direction: ltr;" >{{ map.title }}</a>
                <div>
                    <a href="{% url 'map_update' map.id %}" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i> ویرایش
                    </a>
                    <a href="{% url 'map_delete' map.id %}" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i> حذف
                    </a>
                </div>
                
            </li>
            {% empty %}
                <li>نقشه ای در این دسته وجود ندارد.</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    
{% endblock %}

{% block extra_js %}
<script>
    function uploadMaps() {
        const formData = new FormData();
        const imageInputs = document.getElementById('imageInput').files;
        const textInputs = document.getElementById('textInput').files;

        if (imageInputs.length === 0 || textInputs.length === 0) {
            alert('لطفاً فایل‌های مورد نظر را انتخاب کنید.');
            return;
        }

        if (imageInputs.length !== textInputs.length) {
            alert('تعداد فایل‌های نقشه باید با تعداد فایل‌های متنی مساوی باشد.');
            return;
        }

        for (let i = 0; i < imageInputs.length; i++) {
            formData.append('image_files', imageInputs[i]);
            formData.append('txt_files', textInputs[i]);
        }

        fetch(`/import-maps/{{ cat.id }}/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('نقشه‌ها با موفقیت آپلود شدند.');
                location.reload();
            } else {
                alert('خطا در آپلود: ' + data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function toggleUploadForm() {
        const form = document.getElementById('uploadForm');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}
