{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}ایجاد/ویرایش اشتراک{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card card-warning">
        <div class="card-header">
            <h2>{% if form.instance.pk %}ویرایش اشتراک{% else %}ایجاد اشتراک{% endif %}</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                {{ form|crispy }}
        
                <button type="submit" class="btn btn-primary">ذخیره</button>
                <a href="{% url 'manage_subscriptions' %}" class="btn btn-secondary">لغو</a>
            </form>
        </div>
    </div>    
</div>

{% endblock %}
