<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد کاربر (آزمایشی)</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>داشبورد کاربر (آزمایشی)</h1>
        <p>وضعیت اشتراک: {{ subscription.active }}</p>
        <p>تاریخ انقضای اشتراک: {{ subscription.expiry_date }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="nav-link btn btn-link" type="submit">خروج</button>
        </form>
    </div>
</body>
</html>
